@media only screen and (max-width:1800px){
    .slick-slider button.slick-prev{right: 95%;}
    .slick-slider button.slick-next{left: 95%;}
}
@media only screen and (max-width:1700px){
    .main-wrapper,.wrapper1500,.wrapper1440,.wrapper1300,.wrapper1200,.wrapper1080{padding-inline: 15px;}
    .headBot{padding-left:15px;background:rgba(255,255,255,0.7);}
    footer::before{left:-95px;}

}
@media only screen and (max-width:1600px){
    :root{--main-title: 60px;--sub-title: 40px;--sub-txt: 22px;--body: 19px;--body-sub:17px;--smallestTxt: 12px;--secGap:100px;--slickBtnWid: 90px;--slickBtnHigt: 75px;}
    .headLogo img{max-width:175px;}

}
@media only screen and (max-width:1500px){
    .headNav > nav > ul{margin-right:0.7544em;}
    .slick-slider button.slick-prev,.slick-slider button.slick-next{top: calc(100% + calc(var(--slickBtnWid) / 2) + 20px);}
    .productContSlider{margin-bottom: var(--slickBtnHigt);}
    .slick-slider button.slick-prev{right: calc(50% + calc(var(--slickBtnWid) / 6));}
    .slick-slider button.slick-next{left: calc(50% + calc(var(--slickBtnWid) / 6));}
    .newsPrtSec{gap:3em;}
    footer::before{left:-15%;}

}
@media only screen and (max-width:1440px){
    .headNav > nav > ul > li{padding-right: 3em;}
    .hasSub-menu::after{right:1.5em;}

}
@media only screen and (max-width:1366px){
    :root{--main-title: 55px;--sub-title: 35px;--sub-txt: 22px;--body: 18px;--body-sub:16px;--smallestTxt: 12px;--secGap:100px;--slickBtnWid: 80px;--slickBtnHigt: 65px;}
    footer::before{left:-25%;}
    footer .wrapper1080{max-width:80%;}

}
@media only screen and (max-width:1280px){}
@media only screen and (max-width:1200px){
    footer::before{left:-33%;}
}
@media only screen and (max-width:1160px){}
@media only screen and (max-width:1100px){
    footer::before{left:-40%;}
    .headRight img{max-width:35px;}
    .hambergerMenu,.HamClose{display: block;}
    .headNav > nav{position: fixed;top: 0;right: -9999px;background-color: var(--White);z-index: 9999;width: 100%;max-width: 400px;min-height: 100vh;padding: 3em 2em;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;transition: all 0.5s;}
    .headNav > nav.active{right: 0;}
    .headNav > nav > ul{flex-direction: column;align-items: flex-start;}
    .headNav > nav > ul > li{margin-bottom: 1.5em;}
    .sub-menu{display:none;position:relative;background-color:var(--White);box-shadow:none;width:100%;padding:0.5em 0 0.5em 1em;}
    .hasSub-menu.open .sub-menu{display:block;}
    .hasSub-menu > a{position:relative;padding-right:30px;}
    .hasSub-menu::after{top:10px;}
    .hmBannerTabCont button{padding:0.5em;}




}
@media only screen and (max-width:1024px){
    :root{--main-title: 45px;--sub-title: 30px;--sub-txt: 20px;--body: 18px;--body-sub:16px;--smallestTxt: 12px;--secGap:80px;--slickBtnWid: 70px;--slickBtnHigt: 55px;}
    .sprecificationStripCont > li:not(:last-child)::after{right:-20%;}
    .commArrBtn > a > span:last-child,.footContBtn > a > span:last-child{min-width:60px;min-height:60px;}
    .hmBannerImg img{aspect-ratio: 1.5/1;}
    .hmBannerSec .slick-slider button.slick-prev{top: calc(50%  - calc(var(--slickBtnWid) / 2));}
    .hmBannerSec .slick-slider button.slick-next{top: calc(50% + calc(var(--slickBtnWid) / 2));}
}
@media only screen and (max-width:991px){}
@media only screen and (max-width:950px){
    .sprecificationStripCont > li{width: 33.333%;}
    .sprecificationStripCont > li:last-child{margin-top: 1.5em;}
    .sprecificationStripCont > li:not(:last-child)::after{right:6%;}
    .headRight{padding-inline:1.25em;}

}
@media only screen and (min-width:821px){}
@media only screen and (max-width:820px){}
@media only screen and (max-width:768px){
    :root{--main-title: 40px;--sub-title: 30px;--sub-txt: 18px;--body: 17px;--body-sub:15px;--smallestTxt: 12px;--secGap:50px;--slickBtnWid: 60px;--slickBtnHigt: 45px;}
    .sprecificationStripCont > li{width: 50%;}
    .sprecificationStripCont > li:nth-child(3):after{display: block;}
    .sprecificationStripCont > li:nth-child(2):after{display: none;}
    .sprecificationStripCont > li:last-child,.sprecificationStripCont > li:nth-last-child(2){margin-top: 1.5em;}
    .newsPrtSec{flex-direction:column-reverse;justify-content:center;align-items:center;}
    .newsPrtSecLft{width:100%;}
    .hmBannerImg img{border-bottom-left-radius:40px;border-bottom-right-radius:40px;}

}
@media only screen and (max-width:610px){
    :root{--main-title: 35px;--sub-title: 28px;--sub-txt: 17px;--body: 16px;--body-sub:14px;--smallestTxt: 11px;--secGap:50px;--slickBtnWid: 60px;--slickBtnHigt: 45px;}
    .hmBannerTitle.comm_Banner_title h2{line-height: 1.3;}
    .hmBannerImg img{aspect-ratio: 1/1.8;}
    .headLogo img{max-width:130px;}
    .hambergerMenu{max-width:45px;}
    .headTop > div{padding-inline: 1em;}
}
@media only screen and (max-width:550px){}
@media only screen and (max-width:460px){}
@media only screen and (max-width:430px){}
@media only screen and (max-width:360px){}
@media only screen and (max-width:330px){}